html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Lato', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

main {
	width: 1140px;
	margin: 100px auto;

	h4 {
		font-size: 1.5rem;
		padding: 50px 0 30px;
	}

	h1 {
		font-size: 3rem;
		color: #313133;
	}

	h2 {
		padding-top: 30px;
		font-size: 2rem;
		color: #35e5b3;
	}

	h3 {
		padding-top: 30px;
		font-size: 1.5rem;
		color: #313133;
	}

	p {
		padding: 20px 0;
	}

	img {
		padding: 20px;
		width: 250px;
	}

	button {
		border: 3px solid #35e5b3;
		background: #35e5b3;
		color: white;
		border-radius: 5px;
		padding: 10px 80px;
		font-weight: bold;
		font-size: 1.2rem;
		margin-right: 30px;

		&.hover {
			background: white;
			color: #35e5b3;
		}

		&.disabled {
			background: #cbc8c9;
			border-color: #cbc8c9;
		}
	}

	input {
		display: block;
        margin: 0.5rem 0 2rem;
        border: 2px solid #ececec;
        padding: 0.8rem;
        width: 100%;
        resize: vertical;
        font-size: 1rem;
	}

	.colors {
		width: 100%;
		overflow: hidden;

		section {
			width: 15%;
			margin: 20px;
			float: left;

			p {
				text-align: center;
				padding: 20px 0;
			}

			div {
				width: 100%;
				padding-top: 100%;
			}
		}
	}
}