form {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        display: block;
        margin: 0.5rem 0 2rem;
        border: 2px solid $grey;
        padding: 0.8rem;
        width: 100%;
        resize: vertical;
    }

    textarea {
        min-height: 200px;
    }
}

#form__dashboard {
    margin: 150px auto;
    width: 500px;
    border: 2px solid $grey;
    border-radius: 5px;
    padding: 2rem;
}